{% extends 'includes/base.html'%}
{% block content %}
 <div class = "col-sm-6 offset-3">
<table class="table">
    <thead>
    <th>SN</th>
    <th>Category</th>


    </thead>


    <tbody>
    {% for category in categories %}
    <tr>
         <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
            {% if user.is_autheticated %}
         <a href="{% url 'cj:edit_category' pk=category.pk %}">
             <button class="btn btn-warning">Edit</button>
         </a>
            {% endif %}

        </td>
        <td>
            {% if user.is_authenticated %}
            <a href="{% url 'cj:delete_category' pk=category.pk %}">
                <button class="btn btn-danger">Delete</button>
            </a>
            {% endif %}
        </td>



    </tr>
    {% endfor %}
    </tbody>


</table>
 </div>
{% endblock %}